# Ignora todas as bibliotecas
venv/Lib/site-packages/*

# Exceto essas que sao essenciais
!venv/Lib/site-packages/_distutils_hack/
!venv/Lib/site-packages/pip/
!venv/Lib/site-packages/pip-22.2.2.dist-info/
!venv/Lib/site-packages/pkg_resources/
!venv/Lib/site-packages/setuptools/
!venv/Lib/site-packages/setuptools-63.2.0.dist-info/
!venv/Lib/site-packages/distutils-precedence.pth

# Ignora pycache
__pycache__/