# Ignora venv
venv

# Ignora Logs e Reports
Reports/*
ExceptionScreenshots/*
Logs/*

# Ignora pycache
__pycache__/

# Ignora file de hashcode caso seja pausado em runtime
hash_code.txt

# Mantem pastas essenciais
ExceptionScreenshots/info.txt
Reports/info.txt
Logs/info.txt

